<ion-header>
</ion-header>
<ion-content>
  <div class="mainDiv">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-grid>
            <ion-row><br><br><br><br><br><br><br><br><br><br></ion-row>
            <ion-row ion-align-items-start>
              <ion-col></ion-col>
              <ion-col class="mainText">
                <ion-label>
                  <p>Click button below to see cards of students</p>
                </ion-label>
                <br>
                <ion-button class="btn" shape="round" size="auto" fill="outline" (click)="btnClicked()" routerLink="/profiles" color="dark">
                  See Cards
                <ion-icon name="caret-forward-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>