//center the card on grid
ion-content {
  --background: url(../../assets/images/background.jpg) no-repeat center/cover fixed;
}
p {
  font-style: bold;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-style: bold;
}
ion-col.mainText {
  text-align: center;
}
.mainDiv {
  justify-content: end;
}

